.aside{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 16%;
    background: darkgray;
    align-items: flex-start;
}
.aside ul{
    padding-left: 20px;
    
}
.aside-li{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.aside-logo{
    max-width: 30px;
}

a{
    text-decoration: none;
}